/TestPromotion/.vs/TestPromotion/v15/*.suo
/TestPromotion/TestResults
/TestPromotion/TestPromotion/bin
/TestPromotion/TestPromotion/obj
/TestPromotion/.vs
/TestPromotion/packages
/TestPromotion/TestPromotion.v3.ncrunchsolution.user
